{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'User/login.css' %}">
    <!---we had linked our css file----->
</head>
<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a id="logo" href=https://www.google.com>Logo</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href="{% url 'vegetables-home' %}">Home</a></li>
                    <li><a href="{% url 'vegetables-about' %}">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a  href="{% url 'vegetables-shopping' %}">Category</a></li>
                    {% if user.is_authenticated %}
                    <li><a  href="{% url 'vegetables-logout' %}">Logout</a></li>
                    {% else %}
                    <li><a  href="{% url 'vegetables-login' %}">Login</a></li>
                    {% endif %}
                    <!-- <li><button class='loginbtn' onclick="document.getElementById('login-           form').style.display='block'" style="width:auto;">Login</button></li> -->
                </ul>
            </nav>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissile fade show" style="color: white;" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        <div id='login-form'class='login-page'>
            <div class="form-box">
                <div class='button-box'>
                    <div id='btn'></div>
                    <button type='button'onclick='login()'class='toggle-btn' >Register</button>
                </div>
                <form id='login' class='input-group-login' action="{% url 'vegetables-register' %}" method="POST">
                    {% csrf_token %}
                    <input type='text'class='input-field' id="username" name="username" placeholder='Username'required>
                    <input type='text'class='input-field' id="firstName" name="firstName" placeholder='First Name'required>
		     <input type='text'class='input-field' id="lastName" name="lastName" placeholder='Last Name'required>
             <!-- <input type='text'class='input-field' placeholder='User Name'required> -->
		     <!-- <input type='tel'class='input-field' id="phoneNumber" name="phoneNumber" placeholder='Phone Number' required> -->
		     <input type='email'class='input-field' id="email" name="email" placeholder='Email Id' required>
		     <input type='password'class='input-field' id="password" name="password" placeholder='Enter Password' required>
             <input type='password'class='input-field' id="confirmpassword" name="confirmpassword" placeholder='Confirm Password' required>
		     <!-- <input type='password'class='input-field'placeholder='Confirm Password'  required> -->
		     <input type='checkbox'class='check-box'><span>I agree to the terms and                                                   conditions</span>
                    <button type='submit'class='submit-btn'>Register</button>
		 </form>
         
		 
            </div>
        </div>
    </div>
    <script>
        var x=document.getElementById('login');
		var y=document.getElementById('register');
		var z=document.getElementById('btn');
		function register()
		{
			x.style.left='-400px';
			y.style.left='50px';
			z.style.left='110px';
		}
		function login()
		{
			x.style.left='50px';
			y.style.left='450px';
			z.style.left='0px';
		}
	</script>
	<script>
        var modal = document.getElementById('login-form');
        window.onclick = function(event) 
        {
            // if (event.target == modal) 
            // {
            //     modal.style.display = "none";
            // }
        }
    </script>
</body>
</html>